body {
  font-family: 'Montserrat', sans-serif;
  background: lightcyan;
  color: var(--veryDarkBlue);
  margin: 0;
  font-size: 18px;
}

code {
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
