.menu
  opacity 0
  visibility hidden
  position absolute
  top 100%
  left 0
  right 0
  background rgba(37, 43, 70, .9)
  height 100vh
  transform translateY(-50px)
  transition .3s transform, .3s opacity
  will-change transform
  ul
    padding 0
    list-style: none
  li
    border-top: 1px solid var(--grayishBlue)
  a
    color: white
    text-decoration: none
    text-transform: uppercase
    display: block
    text-align: center
    padding: 1em
    letter-spacing: 2px
    transition .300s all
    &:hover
      color rgba(255,255,255, .5)
  &-open
    user-select none
    height 30px
    width 30px
    display inline-flex
    cursor pointer
    background url('../icons/menu-abierto.svg') no-repeat center
  &-checkbox
    display: none
    &:checked
      & ~ .header
        background: rgba(37, 43, 70, .9)
        .menu-open
          background: url('../icons/cerrar.svg') no-repeat center
        & .menu
          transform: translateY(0)
          visibility visible
          opacity 1
  @media screen and (min-width: 1024px)
    transform: translateY(0)
    visibility visible
    opacity 1
    position initial
    height auto
    &-open
      display none
    ul
      display flex
    li
      border-top: none
    a
      padding .5em 1em
